# Laravel & PHP
/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
.DS_Store
Thumbs.db
sql/schema.sql
# Ignorar archivos de sistema
*.log
*.sqlite
# Ignorar archivos de respaldo
*.bak
*.tmp
